*,
* ::after,
* ::before {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0 auto;
  background: #171717;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
}

.header {
  width: 1460px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 128px;
  gap: 5px;
}

.container {
  width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding-top: 3px;
  width: 216px;
  height: 33px;
}

.header-button {
  grid-column-start: 6;
  grid-column-end: 7;
  font-size: 18px;
  width: 218px;
  border: 1px solid #e4b564;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-button-link {
  text-decoration: none;
  color: #e4b564;
}

.title {
  margin: 0;
  font-size: 50px;
}

.main-paragraph {
  padding-bottom: 41px;
}

.works {
  display: grid;
  grid-template-columns: repeat(6, 218px);
  grid-template-rows: 468px 468px;
  gap: 30px;
  grid-template-areas: "work1 work1 work2 work2  work3 work3";
  padding: 0;
}

.work-text {
  text-align: center;
}

.work {
  text-align: center;
  padding-top: 220px;
}

.work-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work1 {
  background-color: #634f2c;
  grid-area: work1;
}

.work2 {
  padding: 44px;
  background-color: #b4a385;
  grid-area: work2;
  text-align: center;
}

.work3 {
  background-color: #e4b564;
  grid-area: work3;
}

.work4 {
  background: #635a4a;
  width: 715px;
}

.work5 {
  width: 715px;
  background-color: #b08c4d;
  grid-column-start: -4;
  grid-column-end: -1;
}

.park-technic {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 30px;
  margin-bottom: 191px;
  padding: 0;
}

.park1 {
  background-color: #0e0e0e;
  grid-row-start: 1;
  grid-row-end: 4;
}

.park2 {
  background-color: #1f1f1f;
  grid-row-start: 4;
  grid-row-end: 9;
}

.park3 {
  background-color: #242424;
  grid-row-start: 1;
  grid-row-end: 5;
}

.park4 {
  background-color: #e4b564;
  grid-row-start: 5;
  grid-row-end: 9;
}

.park5 {
  background-color: #1f1f1f;
  grid-row-start: 1;
  grid-row-end: 4;
}

.park6 {
  background-color: #0e0e0e;
  grid-row-start: 4;
  grid-row-end: 7;
}

.park7 {
  background-color: #0a0909;
  grid-row-start: 7;
  grid-row-end: 9;
}

.park-text {
  margin-top: 0;
  padding-left: 52px;
  padding-top: 44px;
}

.black-container {
  padding-top: 172px;
  background-color: #0e0e0e;
}

.title-container {
  padding-top: 161px;
  padding-bottom: 94px;
}

.end-title-box {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.project-button {
  margin: 0;
  grid-column-start: 3;
  grid-column-end: 4;

  font-size: 18px;
  width: 180px;
  border: 1px solid #e4b564;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.project-button-link {
  text-decoration: none;
  color: #e4b564;
}

.clients-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
}

.clients-projects {
  display: grid;
  height: 782px;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
  margin-bottom: 238px;
  padding: 0;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-box1 {
  background-color: #634f2c;
}

.clients-box2 {
  flex-direction: column;
  background-color: #e8d2abc2;
  padding-top: 61px;
}

.clients-box3 {
  background-color: #e4b564;
}

.clients-box4 {
  background-color: #635a4a;
}

.clients-box5 {
  background-color: #b08c4d;
}

.clients-box6 {
  background-color: #634f2c;
}

.clients-box-text {
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
}
